<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleLanguages</key>
	<array>
		<string>en-KR</string>
		<string>ko-KR</string>
	</array>
	<key>AppleLocale</key>
	<string>en_KR</string>
	<key>Sig_AppleLanguages</key>
	<string>UserAccountUpdater(901): 2024-04-26 17:13:24 (PDT)</string>
	<key>Sig_AppleLocale</key>
	<string>DirectoryTools(837): 2024-04-26 17:13:12 (PDT)</string>
</dict>
</plist>
