<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetworkEnabledAfterBootNotification.lastLaunchBootSessionUUID</key>
	<string>0EDBE875-85B0-4A45-987C-F0FFB59833FE</string>
	<key>extensionsPendingDescriptorRefetch</key>
	<array/>
	<key>hasRemoteWidgets</key>
	<false/>
	<key>lastKnownTimes</key>
	<dict>
		<key>timeZoneSecondsFromGMT</key>
		<integer>32400</integer>
		<key>world</key>
		<real>1714176825.8402638</real>
	</dict>
	<key>migrationState</key>
	<data>
	eyJzeXN0ZW1WZXJzaW9uIjoiMjNFMjI0Iiwic3lzdGVtTG9jYWxlIjoiZW5fS1IifQ==
	</data>
</dict>
</plist>
