<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeliveryEventIdentifierToDeliveryEventMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>DeliveryInfoVersion</key>
	<string>93c6896f754a03411af465c9f2c13f6b7a997aa25af2e6900d25024dc4eeecfe</string>
	<key>DiscoverabilityDeliveryInfoMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>Experiment</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwUVSRudWxs1A0ODxARERIT
	VGNhbXBSaWRWJGNsYXNzXxARaG9sZG91dEFsbG9jYXRpb24QAYACIz+5mZmZmZma0hUW
	FxhaJGNsYXNzbmFtZVgkY2xhc3Nlc11UUFNFeHBlcmltZW50ohkaXVRQU0V4cGVyaW1l
	bnRYTlNPYmplY3QIERokKTI3SUxRU1ddZmtudYmLjZabpq+9wM4AAAAAAAABAQAAAAAA
	AAAbAAAAAAAAAAAAAAAAAAAA1w==
	</data>
	<key>SearchItemIndexerSchemaVersion</key>
	<integer>1</integer>
	<key>TPSCurrentWelcomeXPCActivityIdentifier</key>
	<string>com.apple.tipsd.showWelcomeNotification.reminderCount-0</string>
	<key>TPSDidRevertArchivedTipStatuses</key>
	<true/>
	<key>TPSFullTipUsageEventContextualInfo</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxA6AAsADAAd
	AB4AHwAgACEAIgA4ADkAPQBjAGQAZQBmAHIAcwB7AIEAhACFAIoAlACVAJkAqgCrAKwA
	sgCzALQAvgC/AMMA1ADVANYA3ADdAN4A6ADpAO0A/gD/AQABBgEHAQgBEgETARcBKAEp
	ASoBMAExATJVJG51bGzTAA0ADgAPABAAFgAcV05TLmtleXNaTlMub2JqZWN0c1YkY2xh
	c3OlABEAEgATABQAFYACgAOABIAFgAalABcAGAAZABoAG4AHgBWAHoAngDCAOV8QJ2Rv
	Yzg0MzA3NTExLTY5ZWMtNDk1MC1hOTgzLWU1NjdmOGEwNjQ2Nl8QJ2RvYzU1NDQ0NmY1
	LTUzNmQtNGQ5Yi1hOTBiLTk3MmM4NzBkMzA5Zl8QJ2RvYzc2YmRlNmMxLTMyMGEtNGRj
	My05MDRiLTgwZTU3ZDk4MDE2MV8QJ2RvYzg5OTNiZTQ1LWRmNGEtNGRmOS1iNTk4LTYz
	NTliZWJlYmUyZl8QJ2RvYzRiNTg1MGYyLTFhMDMtNGY4ZS1iMWE1LTUwMmMwNzhmNDFk
	NdsAIwAkACUAJgAPACcAKAApACoAKwAsAC0ALgAvAC4AMQAyAC4ANAA1AC4ALlt1c2Fn
	ZUV2ZW50c18QEGRpc3BsYXlCdW5kbGVJZHNcbGFzdE1vZGlmaWVkWHRyaWdnZXJzXxAP
	ZGlzcGxheU1heENvdW50XmRlc2lyZWRPdXRjb21lXxAPY3VzdG9taXphdGlvbklkWmRv
	Y3VtZW50SWRfEBBtb25pdG9yaW5nRXZlbnRzXxAQZWxpZ2libGVDb250ZXh0c4AJgACA
	E4AAgBQQAYAAEACACIAAgABfECdkb2M4NDMwNzUxMS02OWVjLTQ5NTAtYTk4My1lNTY3
	ZjhhMDY0NjbSAA4ADwA6ADyhADuACoAS3xAVAD4APwBAAEEAQgAPAEMARABFAEYARwBI
	AEkASgBLAEwATQBOAE8AUABRAFIALgAyADQALgBVAFYANAAuAC4AWQAuAC4AXAAuAC4A
	XwAuAC4AMgAuXxAPbWluT2JzZXJ2YXRpb25zVnNvdXJjZVZzdGF0dXNcbG9va0JhY2tE
	YXlzXxAPZ3JvdXBCeUtleVBhdGhzVnN0cmVhbVR0eXBlVXN0YXRlXmV2ZW50U2luY2VE
	YXRlUmlkXxATb2JzZXJ2ZXJJZGVudGlmaWVyc1RtZXRhXxAYZGF5c1NpbmNlTGFzdE1h
	am9yVXBkYXRlWGJvb2ttYXJrW21hdGNoZWREYXRlVXZhbHVlXm9ic2VydmF0aW9uTWFw
	XxASdXNlckluZm9QZXJzaXN0ZW50WXN0b3JlVHlwZVNrZXkQAYAAgACAEYANgACAAIAM
	gACAAIALgACAAIAOgACAAIAAE3//////////XxAgNGU2NjhjOTFkNmJhNzBiYzcwYTQ1
	NDM3ZjNmMjIyY2RfEBgvZGlzY292ZXJhYmlsaXR5L3NpZ25hbHPWAA8AZwBoAGkAagBr
	AGwAbQAuAC4AcAAuWXZhbHVlVHlwZVlib29sVmFsdWVcaW50ZWdlclZhbHVlW3N0cmlu
	Z1ZhbHVlW2RvdWJsZVZhbHVlgBAQBIAAgACAD4AAXxAnY29tLmFwcGxlLmZpbmRlci5k
	ZXNrdG9wLnN0YWNrcy1lbmFibGVk0gB0AHUAdgB3WiRjbGFzc25hbWVYJGNsYXNzZXNf
	EBtUUFNDb250ZXh0dWFsRHVldEV2ZW50VmFsdWWjAHgAeQB6XxAbVFBTQ29udGV4dHVh
	bER1ZXRFdmVudFZhbHVlXxAVVFBTU2VyaWFsaXphYmxlT2JqZWN0WE5TT2JqZWN00gB0
	AHUAfAB9XxAWVFBTQ29udGV4dHVhbER1ZXRFdmVudKQAfgB/AIAAel8QFlRQU0NvbnRl
	eHR1YWxEdWV0RXZlbnRfEBJUUFNDb250ZXh0dWFsRXZlbnRfEBVUUFNTZXJpYWxpemFi
	bGVPYmplY3TSAHQAdQCCAINXTlNBcnJheaIAggB6EwAAAYr3iBbX0gB0AHUAhgCHXxAR
	VFBTQ29udGV4dHVhbEluZm+jAIgAiQB6XxARVFBTQ29udGV4dHVhbEluZm9fEBVUUFNT
	ZXJpYWxpemFibGVPYmplY3TbACMAJAAlACYADwAnACgAKQAqACsALACLAC4AjQAuADEA
	MgAuADQAkQAuAC6AF4AAgB2AAIAUgACAFoAAgABfECdkb2M1NTQ0NDZmNS01MzZkLTRk
	OWItYTkwYi05NzJjODcwZDMwOWbSAA4ADwCWADyhAJeAGIAS3xAVAD4APwBAAEEAQgAP
	AEMARABFAEYARwBIAEkASgBLAEwATQBOAE8AUABRAFIALgAyADQALgBVAFYANAAuAC4A
	oAAuAC4AowAuAC4ApgAuAC4AMgAugACAAIARgA2AAIAAgBqAAIAAgBmAAIAAgBuAAIAA
	gAATf/////////9fECBmOGI3NTAyNjU4MmUxMGI2YjRkODg3ZTAzODQzNzQ5ZdYADwBn
	AGgAaQBqAGsAbABtAC4ALgCwAC6AEIAAgACAHIAAXxAjY29tLmFwcGxlLm5vdGlmaWNh
	dGlvbmNlbnRlci5vcGVuZWQTAAABi0oazmLbACMAJAAlACYADwAnACgAKQAqACsALAC1
	AC4AtwAuADEAMgAuADQAuwAuAC6AIIAAgCaAAIAUgACAH4AAgABfECdkb2M3NmJkZTZj
	MS0zMjBhLTRkYzMtOTA0Yi04MGU1N2Q5ODAxNjHSAA4ADwDAADyhAMGAIYAS3xAVAD4A
	PwBAAEEAQgAPAEMARABFAEYARwBIAEkASgBLAEwATQBOAE8AUABRAFIALgAyADQALgBV
	AFYANAAuAC4AygAuAC4AzQAuAC4A0AAuAC4AMgAugACAAIARgA2AAIAAgCOAAIAAgCKA
	AIAAgCSAAIAAgAATf/////////9fECAwODViZjBjYTZhZGEwODlkYzY5NGIxM2IxOWYy
	YzM1YdYADwBnAGgAaQBqAGsAbABtAC4ALgDaAC6AEIAAgACAJYAAXxAhY29tLmFwcGxl
	LmNvbnRyb2xjZW50ZXIucHJlc2VudGVkEwAAAYojj5xq2wAjACQAJQAmAA8AJwAoACkA
	KgArACwA3wAuAOEALgAxADIALgA0AOUALgAugCmAAIAvgACAFIAAgCiAAIAAXxAnZG9j
	ODk5M2JlNDUtZGY0YS00ZGY5LWI1OTgtNjM1OWJlYmViZTJm0gAOAA8A6gA8oQDrgCqA
	Et8QFQA+AD8AQABBAEIADwBDAEQARQBGAEcASABJAEoASwBMAE0ATgBPAFAAUQBSAC4A
	MgA0AC4AVQBWADQALgAuAPQALgAuAPcALgAuAPoALgAuADIALoAAgACAEYANgACAAIAs
	gACAAIArgACAAIAtgACAAIAAE3//////////XxAgZTg3YTc3YTkzNGRiNjExMjI1ZDcx
	NzlkN2MxZjFkOWTWAA8AZwBoAGkAagBrAGwAbQAuAC4BBAAugBCAAIAAgC6AAF8QG2Nv
	bS5hcHBsZS5zcG90bGlnaHQuaW52b2tlZBMAAAGKa5N7ptsAIwAkACUAJgAPACcAKAAp
	ACoAKwAsAQkALgELAC4AMQAyAC4ANAEPAC4ALoAygACAOIAAgBSAAIAxgACAAF8QJ2Rv
	YzRiNTg1MGYyLTFhMDMtNGY4ZS1iMWE1LTUwMmMwNzhmNDFkNdIADgAPARQAPKEBFYAz
	gBLfEBUAPgA/AEAAQQBCAA8AQwBEAEUARgBHAEgASQBKAEsATABNAE4ATwBQAFEAUgAu
	ADIANAAuAFUAVgA0AC4ALgEeAC4ALgEhAC4ALgEkAC4ALgAyAC6AAIAAgBGADYAAgACA
	NYAAgACANIAAgACANoAAgACAABN//////////18QIDc1YTJiMDlmY2Q2YzBmMTI1MzM0
	NzVmMWVkZGQ2YjYw1gAPAGcAaABpAGoAawBsAG0ALgAuAS4ALoAQgACAAIA3gABfEB5j
	b20uYXBwbGUuc2NyZWVuY2FwdHVyZS5pbnZva2UTAAABhwYaPcDSAHQAdQEzATRcTlNE
	aWN0aW9uYXJ5ogEzAHoACAAZACIALAAxADoAPwBRAFYAWwBdANQA2gDnAO8A+gEBAQwB
	DgEQARIBFAEWASEBIwElAScBKQErAS0BVwGBAasB1QH/AiwCOAJLAlgCYQJzAoIClAKf
	ArICxQLHAskCywLNAs8C0QLTAtUC1wLZAtsDBQMOAxEDEwMVA2wDfgOFA4wDmQOrA7ID
	twO9A8wDzwPlA+oEBQQOBBoEIAQvBEQETgRSBFQEVgRYBFoEXAReBGAEYgRkBGYEaARq
	BGwEbgRwBHIEdAR9BKAEuwTUBN4E6AT1BQEFDQUPBREFEwUVBRcFGQVDBUwFVwVgBX4F
	hQWjBbsFxAXNBeYF7wYIBh0GNQY+BkYGSwZUBl0GcQZ4BowGpAbRBtMG1QbXBtkG2wbd
	Bt8G4QbjBw0HFgcZBxsHHQd0B3YHeAd6B3wHfgeAB4IHhAeGB4gHigeMB44HkAeSB5QH
	nQfAB9kH2wfdB98H4QfjCAkIEgg/CEEIQwhFCEcISQhLCE0ITwhRCHsIhAiHCIkIiwji
	COQI5gjoCOoI7AjuCPAI8gj0CPYI+Aj6CPwI/gkACQIJCwkuCUcJSQlLCU0JTwlRCXUJ
	fgmrCa0JrwmxCbMJtQm3CbkJuwm9CecJ8AnzCfUJ9wpOClAKUgpUClYKWApaClwKXgpg
	CmIKZApmCmgKagpsCm4KdwqaCrMKtQq3CrkKuwq9CtsK5AsRCxMLFQsXCxkLGwsdCx8L
	IQsjC00LVgtZC1sLXQu0C7YLuAu6C7wLvgvAC8ILxAvGC8gLygvMC84L0AvSC9QL3QwA
	DBkMGwwdDB8MIQwjDEQMTQxWDGMAAAAAAAACAgAAAAAAAAE1AAAAAAAAAAAAAAAAAAAM
	aA==
	</data>
	<key>TPSLastMajorVersion</key>
	<string>14</string>
	<key>TPSSearchIndexLastClientState_com.apple.tips_tips</key>
	<data>
	eyJ2ZXJzaW9uIjoxLCJkb2N1bWVudEluZGV4SGFzaGVzIjp7ImRvY2JjMzk0ZjE0LTI5
	NzQtNGY4ZC04NTE2LTBmMGE1YWFkM2Y3ZSI6InJSYW5OdkJuOE1cL3pLdStaK2psZmFM
	MFdKQnNWRTNaQ2RPSzZKS0J1XC9KVT0iLCJkb2M1MGM0MDdiOC1lMWE5LTQ0NTYtOTJl
	NC0yMmY5ODEwNDgwNTkiOiJwWG5hOHhpWnpVUm1jNWZLNnpvSW5iV2p5MXZqVVJzYkND
	cjZsbWVJem5rPSIsImRvYzc2YmRlNmMxLTMyMGEtNGRjMy05MDRiLTgwZTU3ZDk4MDE2
	MSI6ImZkNnNDenZYaDJWUlRKNEtnc0x2T0hyWjNTbUc3SGswVFY5b09UY0w4Mms9Iiwi
	ZG9jNmIzMzEyYjEtYjBiNi00YzUxLTkwMzUtZDljMTg4MjlkNTFjIjoibk9tYTFVKzVm
	dmFQT1NoWVwvV09vSWhkWmZub28wVlIrZlZLS2t0QTA0b0k9IiwiZG9jMGFiYWU1OWEt
	Y2IxZC00Yzk0LWI4YzgtNzk0YTk4ZjRmMzE3Ijoia1Y5Z1k2QzNCczdjMXFTd2psbFFM
	RW1IMm50OVhWMWt2dXRyTHdGXC9Tb2c9IiwiZG9jYzcwNzMyY2UtYjAxMi00MzM2LWJm
	YzAtNDBlMjI3NmFjNWRlIjoiSGZwYzdKN0ROakJOVjZNdzdBVWh0TE5aS1NHTGNaOE9i
	YXBhUGZERlBXVT0iLCJkb2M0ZGJjNzRmMC0wYjZmLTQzYzgtYWVjNC05ODcxMjE4Mjk2
	YWEiOiJCTFF2OW9JZE1WUk5lT1VIM21yWWpVeW1jUFVFN1ErY2p2Vmo0XC9KYXFwTT0i
	LCJkb2M1N2I5YWY1OS1mZmU0LTQyYzktOWQ5NS01YzRjNzRmZGE5ODUiOiI3U1BRc054
	Y2VMR2twTVwvSVdNbHlKemtHSTNYM0VsalUwOUs5TktUeHNjVT0iLCJkb2MxNzMyNGU3
	MS1hZTIyLTQ0OGEtYjBmYy1hNzI0ZWRjNjEwOTIiOiIzT2tTTjVvZEc2Tkc4c21cL0pt
	SnBBQU8xcVpRa0hVTDJsbVp0czBWTG83dz0iLCJkb2M1Y2FlY2QwNi04ZjVjLTRiZjIt
	YTVjYi0zZmExYzgyYTZmMzYiOiJEK1JRcG4yZTdaQTJuNGwwcEoyNnZRbHNlYnVRaDhq
	Ykl2TzduRThPYnBVPSIsImRvYzU1NDQ0NmY1LTUzNmQtNGQ5Yi1hOTBiLTk3MmM4NzBk
	MzA5ZiI6IjdJSXdcL0sxY3RsdXUwRjhJYWpEeWdOZWt4dFJ1cjJmTGNVa01CUENrTEY4
	PSIsImRvY2JhODI0MjFmLWFiODQtNGJiYS05OWQxLWExZWQ2NTY4MWE1NiI6IlV0dVhB
	TWFwSWVpNkRFVGI1emYxWllON1wvcTcwZktraGNZcGRhVUJEdW40PSIsImRvY2MzZjkx
	MThhLTA3ZmYtNDYyZS04MjI5LTE4OGY2YWIxNjVmYiI6IkVYbUkwbUJtVUpCK3JmVFJQ
	Z2NQbzg5NzdhXC93Wmo0S3RQMmx4NDZkdWEwPSIsImRvYzU4YjAzMTY5LWJkNTMtNGQ2
	OS04YTc4LWYwZGYxMDIyZmM1ZSI6IlpsaHA4Vm1BVnp2WWZWNFRvUWt6REpJdndEWXBl
	SjRvVmdcL1JSNUdteGZvPSIsImRvYzlkOGRmMzc1LTU5ZTUtNDc5My04NmQ5LTAxOWNm
	NWM5ZDRmYyI6InVkNU1heU5EK0JYMWpXR0w5WUZvckhnRGZVRGxlOVNcLzFIUUc4SmNy
	S1hJPSIsImRvYzg0MzA3NTExLTY5ZWMtNDk1MC1hOTgzLWU1NjdmOGEwNjQ2NiI6Ilox
	QnRtUVV6ZHlwaGwzRFgxRHpUWEpxamdcL2V2ZkpkcVRJNUNHWFFKUEVzPSIsImRvYzk5
	OGQxYTI5LTcwNTQtNDEyZS1iYWU0LTM0MjgwYzBkMTczNiI6InVpRUxBMkkrY0JDeFEz
	Z0lxVDhxYXkxVnhtUnFJaDg1SmxiRkRHRHdDVmM9IiwiZG9jNGI1ODUwZjItMWEwMy00
	ZjhlLWIxYTUtNTAyYzA3OGY0MWQ1IjoiZWVCRUFGRzlEOTFlRlFDeVY2dnZ0UGRqczRS
	STZ5MWVYek82aGhXVkdiST0iLCJkb2NkODJkYjFiNy1mYTI3LTQ3ODEtYjlhOC03MWM3
	N2IwNGRhNWYiOiJoUWxFWGtQNmdnVEJvTkxUYWZqVEpRT2w4a1wvV1N6TG9OeHVjdmtM
	QU95QT0iLCJkb2NhZDdjZmEwNS04OTE4LTQxNWQtYTZjYS04NDhkYjNkNDA5MTciOiJC
	RkwzdTBDMkJ4Nm5MSkVaWFJvaWg0RkJxWUdWUTJJN0Q2Y0xjRmRQM3BNPSIsImRvYzg5
	OTNiZTQ1LWRmNGEtNGRmOS1iNTk4LTYzNTliZWJlYmUyZiI6IjNabE1wRzVOdTcxXC9J
	Q1ZIRHV0c2hLeVpTeDNiTXdtWVM3ZGJXa1EzaFVvPSIsImRvY2FmOTVlZDViLTI5MzEt
	NDZhYy1hNjJiLTQ3N2QzNTA2YWNhMSI6IlwvMnNsa0hEc1QzXC85YXVhdnArd0dqdEl3
	XC94SkZqZUU5dkJhbmFmQ2J4MU09IiwiZG9jMzgyMzg0YTYtOWNiMS00MTE2LWEwZjgt
	ZTc3MWQzMDBjZTc5IjoiRVYrODdqeFBScW5oaG8yeHlia1BvQ28wUmhOak53bEZoUU4z
	OFc2b0tiND0ifX0=
	</data>
	<key>TPSTipsAppInstalled</key>
	<true/>
	<key>TPSWelcomeDocumentCache</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGqCwwrLDQ1Nj4/QFUkbnVsbN8Q
	Dw0ODxAREhMUFRYXGBkaGxwcHBwgHCIjHCUcHCgcKlZ3aWRnZXRZZmlsZUlkTWFwXxAQ
	dXNlckxhbmd1YWdlQ29kZV1jb3JyZWxhdGlvbklkXG5vdGlmaWNhdGlvblxjbG9uZWRG
	cm9tSWRaaWRlbnRpZmllclxsYXN0TW9kaWZpZWRYa2V5d29yZHNYbGFuZ3VhZ2VfEBFj
	bGllbnRDb25kaXRpb25JZF8QE2F2YWlsYWJpbGl0eU1lc3NhZ2VcbWFqb3JWZXJzaW9u
	WXZhcmlhbnRJZFYkY2xhc3OAAIAAgACAAIADgACAAhAAgACAB4AAgACACIAAgAlfEA9X
	aGF0c05ld0luTWFjT1PUGy0uLzAxHDNVdGl0bGVWYXNzZXRzVHRleHSABoAEgACABW8Q
	HgBTAGUAZQAgAHcAaABhAHQgGQBzACAAbgBlAHcAIABpAG4AIABtAGEAYwBPAFMAIABT
	AG8AbgBvAG0AYV8QV0Rpc2NvdmVyIG5ldyB3YXlzIHRvIHBlcnNvbmFsaXplIHlvdXIg
	TWFjLCBlbGV2YXRlIHlvdXIgdmlkZW8gY2FsbHMsIGFuZCBnZXQgbW9yZSBkb25lLtI3
	ODk6WiRjbGFzc25hbWVYJGNsYXNzZXNfEA9UUFNOb3RpZmljYXRpb26jOzw9XxAPVFBT
	Tm90aWZpY2F0aW9uXxAVVFBTU2VyaWFsaXphYmxlT2JqZWN0WE5TT2JqZWN0UmVuUjE0
	0jc4QUJfEBJUUFNXZWxjb21lRG9jdW1lbnSkQ0RFPV8QElRQU1dlbGNvbWVEb2N1bWVu
	dFtUUFNEb2N1bWVudF8QFVRQU1NlcmlhbGl6YWJsZU9iamVjdAAIABEAGgAkACkAMgA3
	AEkATABRAFMAXgBkAIUAjACWAKkAtwDEANEA3ADpAPIA+wEPASUBMgE8AUMBRQFHAUkB
	SwFNAU8BUQFTAVUBVwFZAVsBXQFfAWEBcwF8AYIBiQGOAZABkgGUAZYB1QIvAjQCPwJI
	AloCXgJwAogCkQKUApcCnAKxArYCywLXAAAAAAAAAgEAAAAAAAAARgAAAAAAAAAAAAAA
	AAAAAu8=
	</data>
	<key>TPSWelcomeNotificationReminderState</key>
	<integer>0</integer>
	<key>TPSWelcomeNotificationStartDate</key>
	<date>2024-04-27T00:14:40Z</date>
	<key>TPSWelcomeNotificationViewedVersion</key>
	<integer>-1</integer>
	<key>TPSWidgetShownTips</key>
	<array>
		<string>doc58b03169-bd53-4d69-8a78-f0df1022fc5e</string>
	</array>
	<key>TPSWidgetUpdateDate</key>
	<date>2024-04-27T00:14:40Z</date>
</dict>
</plist>
