<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<array>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.FaceTime</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>41951246</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/FaceTime.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAcY29t
					LmFwcGxlLlRlbGVwaG9ueVV0aWxpdGllcwAA
					AAM=
					</data>
					<key>uuid</key>
					<string>965480D5-15BE-471B-B42B-C414393C24B2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.mail</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>41943054</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Mail.app</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>263</integer>
			<key>bundle-id</key>
			<string>com.apple.reminders</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>9437708310</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.reminders.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAARY29t
					LmFwcGxlLnJlbWluZGQAAAAAAAAD
					</data>
					<key>uuid</key>
					<string>ADF0BC2B-54E0-41DC-BBA6-62DB97B13659</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.Reminders</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>791</integer>
			<key>bundle-id</key>
			<string>com.apple.MobileSMS</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>9521594382</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Messages.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAARY29t
					LmFwcGxlLmltYWdlbnQAAAAAAAAD
					</data>
					<key>uuid</key>
					<string>5FA7604C-B004-4CDD-801D-38E53D5061E8</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.MobileSMS</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.notificationcenter.askpermissions</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>310383127</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.migrationhelper</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.accountsd</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.mdmclient</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.controlcenter.notifications.low-battery</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.controlcenter.notifications.low-battery.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLmNvbnRyb2xjZW50ZXIAAAAAAw==
					</data>
					<key>uuid</key>
					<string>9AE3A696-2B6A-4C3C-A925-71E76E27A629</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.TMHelperAgent</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.followup.alert</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943703</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAATY29t
					LmFwcGxlLmZvbGxvd3VwZAAAAAAD
					</data>
					<key>uuid</key>
					<string>E04A17ED-4147-4CE3-B5AB-902C135DD255</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.appstoreagent</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.gamecenter</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>41951246</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.gamecenter.bundle</string>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.askpermissiond</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>auth</key>
			<integer>262</integer>
			<key>bundle-id</key>
			<string>com.apple.ScreenTimeNotifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>5100797964</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.ScreenTimeNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAZY29t
					LmFwcGxlLlNjcmVlblRpbWVBZ2VudAAAAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>AC7BBA70-9817-4C83-90F0-A1BB1C482E42</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.ScreenTimeNotifications</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.ScreenTimeEnabledNotifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>13212582036</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.ScreenTimeEnabledNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAZY29t
					LmFwcGxlLlNjcmVlblRpbWVBZ2VudAAAAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>F6B7BC33-F345-4049-8A35-1C3CEF64B096</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.ScreenTimeEnabledNotifications</string>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.BluetoothUIServer</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.shortcuts</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680142</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Shortcuts.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAWY29t
					LmFwcGxlLnNpcmlhY3Rpb25zZAAAAAAAAw==
					</data>
					<key>uuid</key>
					<string>51151D71-BA46-404B-BD2B-4975D76BAD3A</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.shortcuts</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>263</integer>
			<key>bundle-id</key>
			<string>com.apple.iCal</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>805830678</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.iCal.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAAUY29t
					LmFwcGxlLmNhbGFjY2Vzc2QAAAAD
					</data>
					<key>uuid</key>
					<string>DE32ACEC-89D4-46FD-89E2-0FC33BED4BB1</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.Calendar</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>com.apple.ReplayKitNotifications</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688334</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.ReplayKitNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAARY29t
					LmFwcGxlLnJlcGxheWQAAAAAAAAD
					</data>
					<key>uuid</key>
					<string>475940E0-53D2-4FEC-BCD6-74D0AE8BF422</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.clock</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>8917622934</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Clock.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAWY29t
					LmFwcGxlLm1vYmlsZXRpbWVyZAAAAAAAAw==
					</data>
					<key>uuid</key>
					<string>F5677C07-D1E4-4837-BE3F-45A10013B555</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.clock</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifip2pd.UserNotification</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>479AFB52-CF85-477B-8652-B0DC88F2EEA7</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifi.usernotifications.autohotspot</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>1D20FCE5-7F16-4564-B636-7719ED73EBEF</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifi.usernotifications.diagnostics</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>8EC51CBC-B13F-4BFF-9FE4-B8680B7DA341</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.wifi.usernotifications.join</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLndpZmkuV2lGaUFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>1D69F517-1135-4CE0-9904-660524DFC408</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.mdmclient.usernotifications.v2</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>8917622934</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.mdmclient.usernotifications.v2.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAATY29t
					LmFwcGxlLm1kbWNsaWVudAAAAAAD
					</data>
					<key>uuid</key>
					<string>BD99300B-048C-47F3-988F-6C76B6E5EF7A</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.ManagedClient.PasscodeUserNotification2</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>8917622926</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.ManagedClient.PasscodeUserNotification2.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAcY29t
					LmFwcGxlLk1hbmFnZWRDbGllbnRBZ2VudAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>705B12A0-72FF-4645-AA41-395C385665FC</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>323</integer>
			<key>bundle-id</key>
			<string>com.apple.Passbook</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>2986868742</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.Passbook.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLnBhc3NkAAAAAAM=
					</data>
					<key>uuid</key>
					<string>0053450F-CFBC-4E72-9370-4DD71F1A543C</string>
				</dict>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLmZpbmFuY2VkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>8883DEC9-2A97-4B44-BC74-004C079B20F5</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.Passbook</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>0</integer>
			<key>bundle-id</key>
			<string>com.apple.Music</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268443662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Music.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmFtc2VuZ2FnZW1lbnRkAAAAAw==
					</data>
					<key>uuid</key>
					<string>FA50D60E-EDCE-4802-8091-EF89B1077E6C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>261</integer>
			<key>bundle-id</key>
			<string>com.apple.AppStore</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>9395765266</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.AppStore.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmFtc2VuZ2FnZW1lbnRkAAAAAw==
					</data>
					<key>uuid</key>
					<string>ED6CBF7A-B89B-4D17-9324-4550A8C3DE42</string>
				</dict>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLmFwcHN0b3JlYWdlbnQAAAAAAw==
					</data>
					<key>uuid</key>
					<string>5D5F1877-D17F-4C77-BD2D-C2C73E3D81EC</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>260</integer>
			<key>bundle-id</key>
			<string>com.apple.podcasts</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>805306382</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Podcasts.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmFtc2VuZ2FnZW1lbnRkAAAAAw==
					</data>
					<key>uuid</key>
					<string>F9215D1B-3716-4789-844E-565139DDFE1A</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.podcasts</string>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.iChat</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>41943054</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAbY29t
					LmFwcGxlLmlkZW50aXR5c2VydmljZXNkAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>1D3A5E66-05C1-4B0C-B92C-2D8E0E0B1F78</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>com.apple.identityservicesd.firewall</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>8917614734</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.identityservicesd.firewall.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAbY29t
					LmFwcGxlLmlkZW50aXR5c2VydmljZXNkAAAA
					AAM=
					</data>
					<key>uuid</key>
					<string>FB39E4FB-D7D9-452D-B97B-99AB2FA0BAEE</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.identityservicesd.firewall</string>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.sharingd</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLnNoYXJpbmdkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>14DA7C56-A7E5-4274-A353-81F781FA9A5E</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.FaceTime</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADgAAAABAAAABgAAAAIAAAAcY29t
					LmFwcGxlLlRlbGVwaG9ueVV0aWxpdGllcwAA
					AAM=
					</data>
					<key>uuid</key>
					<string>6658A295-898B-4915-9FDB-5C379283D03E</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>323</integer>
			<key>bundle-id</key>
			<string>com.apple.Home</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>2986868742</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.Home.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLmhvbWVkAAAAAAM=
					</data>
					<key>uuid</key>
					<string>ADBFB59D-351A-40FD-8377-C49550D14A2E</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.Home</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>323</integer>
			<key>bundle-id</key>
			<string>com.apple.findmy</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>2986344454</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/FindMy.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAAEQAAAABAAAABgAAAAIAAAAlY29t
					LmFwcGxlLmljbG91ZC5zZWFyY2hwYXJ0eXVz
					ZXJhZ2VudAAAAAAAAAM=
					</data>
					<key>uuid</key>
					<string>2008E354-9689-4D08-8BD0-0B33CEB84411</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.findmy</string>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.sharingd.continuity</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLnNoYXJpbmdkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>0FCFF278-51B5-4E14-8DC2-E3336097F416</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>0</integer>
			<key>bundle-id</key>
			<string>com.apple.Photos</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268443662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Photos.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLnBob3RvbGlicmFyeWQAAAAAAw==
					</data>
					<key>uuid</key>
					<string>D4A343F6-4901-4AE9-985C-C60C84E64F18</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.voicebanking.usernotifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268959756</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.voicebanking.usernotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAXY29t
					LmFwcGxlLnZvaWNlYmFua2luZ2QAAAAAAw==
					</data>
					<key>uuid</key>
					<string>0C079F03-D4DB-4F18-98AA-90C6CB78D2E1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.MobileAccessoryUpdater.fudHelperAgent</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>41943575</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmZ1ZEhlbHBlckFnZW50AAAAAw==
					</data>
					<key>uuid</key>
					<string>77CDE38E-8344-4426-BF6D-73543951D70C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>6</integer>
			<key>bundle-id</key>
			<string>com.apple.BTUserNotifications</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688342</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.BTUserNotifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAAUY29t
					LmFwcGxlLmNsb3VkcGFpcmQAAAAD
					</data>
					<key>uuid</key>
					<string>E8967D05-C640-4285-B5D9-D25137813914</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>4</integer>
			<key>bundle-id</key>
			<string>com.apple.tips</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>327680022</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.tips.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29t
					LmFwcGxlLnRpcHNkAAAAAAM=
					</data>
					<key>uuid</key>
					<string>15BF817E-F5DC-470A-8CC0-640E8E2B7DBF</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bundle-id</key>
			<string>com.apple.weather</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>268443662</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Applications/Weather.app</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29t
					LmFwcGxlLndlYXRoZXJkAAAAAAAD
					</data>
					<key>uuid</key>
					<string>130ADAF2-53A9-4FA3-A92A-942DF24C10E4</string>
				</dict>
			</array>
			<key>universal-app-id</key>
			<string>com.apple.weather</string>
		</dict>
		<dict>
			<key>auth</key>
			<integer>263</integer>
			<key>bundle-id</key>
			<string>com.apple.askpermission.notifications</string>
			<key>content_visibility</key>
			<integer>0</integer>
			<key>flags</key>
			<integer>864551062</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>path</key>
			<string>/System/Library/UserNotifications/Bundles/com.apple.askpermission.notifications.bundle</string>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAADQAAAABAAAABgAAAAIAAAAYY29t
					LmFwcGxlLmFza3Blcm1pc3Npb25kAAAAAw==
					</data>
					<key>uuid</key>
					<string>942B2588-AF25-410C-90C2-4DBEBB757B8C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>auth</key>
			<integer>7</integer>
			<key>bundle-id</key>
			<string>_SYSTEM_CENTER_:com.apple.SoftwareUpdateNotification</string>
			<key>content_visibility</key>
			<integer>3</integer>
			<key>flags</key>
			<integer>327688855</integer>
			<key>grouping</key>
			<integer>0</integer>
			<key>src</key>
			<array>
				<dict>
					<key>flags</key>
					<integer>6</integer>
					<key>req</key>
					<data>
					+t4MAAAAAEgAAAABAAAABgAAAAIAAAArY29t
					LmFwcGxlLlNvZnR3YXJlVXBkYXRlTm90aWZp
					Y2F0aW9uTWFuYWdlcgAAAAAD
					</data>
					<key>uuid</key>
					<string>7A6D3CD3-6826-421A-85C9-9C054C08AA2D</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>content_visibility</key>
	<integer>2</integer>
	<key>dnd_prefs</key>
	<data>
	YnBsaXN0MDDVAQIDBAUGBggICFtkbmRNaXJyb3JlZF8QD2RuZERpc3BsYXlTbGVlcF8Q
	HnJlcGVhdGVkRmFjZXRpbWVDYWxsc0JyZWFrc0RORF5kbmREaXNwbGF5TG9ja18QE2Zh
	Y2V0aW1lQ2FuQnJlYWtETkQJCQgICAgTHzFSYXd4eXp7AAAAAAAAAQEAAAAAAAAACwAA
	AAAAAAAAAAAAAAAAAHw=
	</data>
	<key>sort_order</key>
	<integer>0</integer>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
