<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPAppPolicy.ContactsChangeHistoryToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwxYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctIICQoLWF92ZXJzaW9uVl90b2tlbhACgAGnDQ4T
	GxwdI1UkbnVsbNIPEBESViRjbGFzc18QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRp
	Y3Rpb25hcnmABoAC0xQVDxYYGldOUy5rZXlzWk5TLm9iamVjdHOhF4ADoRmABIAFXxAk
	RjhEMzZEMDctODEwNC00RTQwLUJGRkEtQkE1NDM0NzJEREQ1EATSHh8gIVokY2xhc3Nu
	YW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIgIlhOU09iamVjdNIeHyQlXxAZX05TUGVy
	c2lzdGVudEhpc3RvcnlUb2tlbqMmJyJfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
	XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2VuAAgAEQAaACQAKQAyADcASQBOAFcAXgBg
	AGIAagBwAHUAfAChAKMApQCsALQAvwDBAMMAxQDHAMkA8ADyAPcBAgELARgBGwEkASkB
	RQFJAWUAAAAAAAACAQAAAAAAAAAoAAAAAAAAAAAAAAAAAAABgA==
	</data>
</dict>
</plist>
