<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMSDeviceBiometricsState</key>
	<integer>1</integer>
	<key>AMSFPCertExpiration</key>
	<date>2024-04-28T00:14:00Z</date>
	<key>AMSJSVersionMap</key>
	<dict>
		<key>analytics</key>
		<string>21.0.69</string>
		<key>internal</key>
		<string>23.0.18</string>
		<key>journeys</key>
		<string>2304.2404.3</string>
	</dict>
	<key>AMSStorefrontSuffixes</key>
	<dict/>
</dict>
</plist>
