<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1714176622</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>211371831c3cc5d0bc5343074cba0d8c4e8e2116fc7dd48d74fa210129b87627</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwweVSRu
		dWxs2Q0ODxAREhMUFRYXGBkXGxYcHV8QGkFjY291bnRBY2Nlc3NBdXRob3Jp
		emF0aW9uXxATSGFzVmFsaWRDcmVkZW50aWFsc1xXYWxydXNTdGF0dXNWJGNs
		YXNzXxASTmVlZHNUb1ZlcmlmeVRlcm1zXxAkRGV2aWNlVG9EZXZpY2VFbmNy
		eXB0aW9uQXZhaWxhYmlsaXR5XxAQQWNjb3VudFBhcnRpdGlvbl1BY2NvdW50
		U3RhdHVzXxAcQWNjb3VudEluZm9WYWxpZGF0aW9uQ291bnRlchABCBACgAII
		EAAQAxAg0h8gISJaJGNsYXNzbmFtZVgkY2xhc3Nlc11DS0FjY291bnRJbmZv
		oiEjWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBXAF0AcACNAKMA
		sAC3AMwA8wEGARQBMwE1ATYBOAE6ATsBPQE/AUEBRgFRAVoBaAFrAAAAAAAA
		AgEAAAAAAAAAJAAAAAAAAAAAAAAAAAAAAXQ=
		</data>
		<key>3c9cddf2ac7c49557be8cfb50813a14604810afe5ba00b20fefb17b11b604fbf</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwweVSRu
		dWxs2Q0ODxAREhMUFRYXGBkXGxYcHV8QGkFjY291bnRBY2Nlc3NBdXRob3Jp
		emF0aW9uXxATSGFzVmFsaWRDcmVkZW50aWFsc1xXYWxydXNTdGF0dXNWJGNs
		YXNzXxASTmVlZHNUb1ZlcmlmeVRlcm1zXxAkRGV2aWNlVG9EZXZpY2VFbmNy
		eXB0aW9uQXZhaWxhYmlsaXR5XxAQQWNjb3VudFBhcnRpdGlvbl1BY2NvdW50
		U3RhdHVzXxAcQWNjb3VudEluZm9WYWxpZGF0aW9uQ291bnRlchABCBACgAII
		EAAQAxAg0h8gISJaJGNsYXNzbmFtZVgkY2xhc3Nlc11DS0FjY291bnRJbmZv
		oiEjWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBXAF0AcACNAKMA
		sAC3AMwA8wEGARQBMwE1ATYBOAE6ATsBPQE/AUEBRgFRAVoBaAFrAAAAAAAA
		AgEAAAAAAAAAJAAAAAAAAAAAAAAAAAAAAXQ=
		</data>
		<key>fb9341ecdf42d573c6be0223d98055c497ab2d69ee8da8bb10fe4f1faf6fce96</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwweVSRu
		dWxs2Q0ODxAREhMUFRYXGBkXGxYcHV8QGkFjY291bnRBY2Nlc3NBdXRob3Jp
		emF0aW9uXxATSGFzVmFsaWRDcmVkZW50aWFsc1xXYWxydXNTdGF0dXNWJGNs
		YXNzXxASTmVlZHNUb1ZlcmlmeVRlcm1zXxAkRGV2aWNlVG9EZXZpY2VFbmNy
		eXB0aW9uQXZhaWxhYmlsaXR5XxAQQWNjb3VudFBhcnRpdGlvbl1BY2NvdW50
		U3RhdHVzXxAcQWNjb3VudEluZm9WYWxpZGF0aW9uQ291bnRlchABCBACgAII
		EAAQAxAg0h8gISJaJGNsYXNzbmFtZVgkY2xhc3Nlc11DS0FjY291bnRJbmZv
		oiEjWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBXAF0AcACNAKMA
		sAC3AMwA8wEGARQBMwE1ATYBOAE6ATsBPQE/AUEBRgFRAVoBaAFrAAAAAAAA
		AgEAAAAAAAAAJAAAAAAAAAAAAAAAAAAAAXQ=
		</data>
	</dict>
</dict>
</plist>
