<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acseGatewayV3DeviceAllFeatures</key>
	<data>
	YnBsaXN0MDDSAQIDBFN1cmxZc2Vzc2lvbklkXxBLaHR0cHM6Ly9hY3NlZ2F0ZXdheS5p
	Y2xvdWQuY29tOjQ0My92My9kZXZpY2VzL3t1ZElkfS9zdWJzY3JpcHRpb25zL2ZlYXR1
	cmVzXxAkMEVEQkU4NzUtODVCMC00QTQ1LTk4N0MtRjBGRkI1OTgzM0ZFCA0RG2kAAAAA
	AAABAQAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAkA==
	</data>
</dict>
</plist>
