<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloudConfigurationPath</key>
	<string>/System/Library/PrivateFrameworks/ReminderKit.framework/Versions/A/Resources/CloudConfigurations/Normal.plist</string>
	<key>extraneousAlarmsCollectorContainerDeemedClean</key>
	<true/>
	<key>isDatabaseMigrated</key>
	<true/>
	<key>lastDatabaseMigrationSystemBuildVersion</key>
	<string>23E224</string>
	<key>lastExtraneousAlarmsCollectorExecutionDate</key>
	<date>2024-04-27T00:13:40Z</date>
	<key>lastSyncPoll</key>
	<date>2024-04-27T00:13:24Z</date>
	<key>preferredDefaultListID</key>
	<string>x-apple-reminderkit://REMCDList/3C8C2A71-84BF-4C87-8EFD-BB4827650D15</string>
	<key>preferredDefaultListObjectIDUrl</key>
	<string>x-coredata://6FC034FC-A132-49A6-858C-E358DF86F0AA/REMCDList/p1</string>
	<key>spotlightIndexVersion</key>
	<integer>6</integer>
</dict>
</plist>
