<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTAlarmModifiedDate</key>
	<date>2024-04-27T00:13:45Z</date>
	<key>MTAlarmStorageVersion</key>
	<real>3.0999999046325684</real>
	<key>MTAlarms</key>
	<dict>
		<key>MTAlarms</key>
		<array/>
		<key>MTSleepAlarms</key>
		<array/>
	</dict>
	<key>MTStopwatches</key>
	<dict>
		<key>MTStopwatches</key>
		<array>
			<dict>
				<key>$MTStopwatch</key>
				<dict>
					<key>MTStopwatchCurrentInterval</key>
					<real>0.0</real>
					<key>MTStopwatchIdentifier</key>
					<string>224AF574-CA49-40FC-A3A9-15D8C2364BA5</string>
					<key>MTStopwatchLaps</key>
					<array/>
					<key>MTStopwatchOffset</key>
					<real>0.0</real>
					<key>MTStopwatchPreviousLapsTotalInterval</key>
					<real>0.0</real>
					<key>MTStopwatchState</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>MTTimerDefaultDuration</key>
	<real>900</real>
	<key>MTTimerModifiedDate</key>
	<date>2024-04-27T00:13:23Z</date>
	<key>MTTimerStorageVersion</key>
	<real>3</real>
	<key>MTTimers</key>
	<dict>
		<key>MTTimers</key>
		<array>
			<dict>
				<key>$MTTimer</key>
				<dict>
					<key>MTTimerDataVersion</key>
					<real>1.6000000238418579</real>
					<key>MTTimerDuration</key>
					<real>900</real>
					<key>MTTimerFireTime</key>
					<dict>
						<key>$MTTimerTimeInterval</key>
						<dict>
							<key>MTTimerTimeInterval</key>
							<real>900</real>
						</dict>
					</dict>
					<key>MTTimerFireTimerClass</key>
					<string>MTTimerTimeInterval</string>
					<key>MTTimerID</key>
					<string>2FDE0E89-2790-4C0E-9898-33556B1C1A63</string>
					<key>MTTimerSound</key>
					<dict>
						<key>$MTSound</key>
						<dict>
							<key>MTSoundToneID</key>
							<string>system:Radial</string>
							<key>MTSoundType</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>MTTimerState</key>
					<integer>1</integer>
					<key>MTTimerTitle</key>
					<string>CURRENT_TIMER</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
