<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleShowAllFiles</key>
	<true/>
	<key>CreateDesktop</key>
	<false/>
	<key>DesktopViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>DownloadsFolderListViewSettingsVersion</key>
	<integer>1</integer>
	<key>EmptyTrashProgressWindowLocation</key>
	<string>{552, -807}</string>
	<key>FK_AppCentricShowSidebar</key>
	<true/>
	<key>FK_DefaultIconViewSettings</key>
	<dict>
		<key>arrangeBy</key>
		<string>name</string>
		<key>backgroundColorBlue</key>
		<real>1</real>
		<key>backgroundColorGreen</key>
		<real>1</real>
		<key>backgroundColorRed</key>
		<real>1</real>
		<key>backgroundType</key>
		<integer>0</integer>
		<key>gridOffsetX</key>
		<real>0.0</real>
		<key>gridOffsetY</key>
		<real>0.0</real>
		<key>gridSpacing</key>
		<real>54</real>
		<key>iconSize</key>
		<real>64</real>
		<key>labelOnBottom</key>
		<true/>
		<key>showIconPreview</key>
		<true/>
		<key>showItemInfo</key>
		<true/>
		<key>textSize</key>
		<real>12</real>
		<key>viewOptionsVersion</key>
		<integer>1</integer>
	</dict>
	<key>FK_DefaultListViewSettings</key>
	<dict>
		<key>calculateAllSizes</key>
		<false/>
		<key>columns</key>
		<array>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>name</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateModified</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>181</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateCreated</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>181</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>size</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>97</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>kind</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>115</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>label</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>version</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>comments</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateLastOpened</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>shareOwner</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>shareLastEditor</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateAdded</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>181</integer>
			</dict>
		</array>
		<key>iconSize</key>
		<integer>16</integer>
		<key>showIconPreview</key>
		<true/>
		<key>sortColumn</key>
		<string>dateAdded</string>
		<key>textSize</key>
		<integer>13</integer>
		<key>useRelativeDates</key>
		<true/>
		<key>viewOptionsVersion</key>
		<integer>1</integer>
	</dict>
	<key>FK_SidebarWidth</key>
	<real>140</real>
	<key>FK_StandardViewOptions2</key>
	<dict>
		<key>ColumnViewOptions</key>
		<dict>
			<key>ArrangeBy</key>
			<string>dnam</string>
			<key>ColumnShowFolderArrow</key>
			<true/>
			<key>ColumnShowIcons</key>
			<true/>
			<key>ColumnWidth</key>
			<integer>245</integer>
			<key>FontSize</key>
			<integer>13</integer>
			<key>PreviewDisclosureState</key>
			<true/>
			<key>SharedArrangeBy</key>
			<string>kipl</string>
			<key>ShowIconThumbnails</key>
			<true/>
			<key>ShowPreview</key>
			<true/>
		</dict>
	</dict>
	<key>FK_StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareOwner</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareLastEditor</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>SettingsType</key>
		<string>FK_StandardViewSettings</string>
	</dict>
	<key>FXArrangeGroupViewBy</key>
	<string>Name</string>
	<key>FXDesktopTouchBarUpgradedToTenTwelveOne</key>
	<integer>1</integer>
	<key>FXEnableExtensionChangeWarning</key>
	<false/>
	<key>FXICloudDriveDesktop</key>
	<false/>
	<key>FXICloudDriveDocuments</key>
	<false/>
	<key>FXICloudDriveEnabled</key>
	<true/>
	<key>FXICloudDriveFirstSyncDownComplete</key>
	<true/>
	<key>FXICloudLoggedIn</key>
	<true/>
	<key>FXInfoPanesExpanded</key>
	<dict>
		<key>Comments</key>
		<true/>
		<key>MetaData</key>
		<true/>
		<key>Name</key>
		<true/>
		<key>Preview</key>
		<true/>
	</dict>
	<key>FXPreferencesWindow.Location</key>
	<string>{{10, 605}, {377, 329}}</string>
	<key>FXPreferredSearchViewStyleVersion</key>
	<string>%00%00%00%01</string>
	<key>FXPreferredViewStyle</key>
	<string>glyv</string>
	<key>FXQuickActionsConfigUpgradeLevel</key>
	<integer>3</integer>
	<key>FXRecentFolders</key>
	<array>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va7ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAoAIAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAkAAAABAQAARG9jdW1lbnRz
			AAAABwAAAAEBAAAuY29uZmlnAFwAAAABAQAAW01vb24gTmlnaHQg
			U25hcF0gWWVvbiBXb28gKOGEi+GFp+GGq+GEi+GFrikgLSDhhInh
			haXhhIvhha7hhq/hhIvhhbQg4YSH4YWh4Ya3IChTZW91bCBuaWdo
			dClMAAAAAQEAAFtNb29uIE5pZ2h0IFNuYXBdIFllb24gV29vICjs
			l7DsmrApIC0g7ISc7Jq47J2YIOuwpCAoU2VvdWwgbmlnaHQpIHVu
			Y2Vuc29yZWQYAAAAAQYAABAAAAAgAAAANAAAAEgAAABYAAAAvAAA
			AAgAAAAEAwAASEIAAAAAAAAIAAAABAMAAORjAAAAAAAACAAAAAQD
			AAAVZAAAAAAAAAgAAAAEAwAA0rg0AAAAAAAIAAAABAMAADnVNAAA
			AAAACAAAAAQDAABa1TQAAAAAABgAAAABBgAAMAEAAEABAABQAQAA
			YAEAAHABAACAAQAACAAAAAAEAABBxLGXBED4mxgAAAABAgAAAgAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAQA
			AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
			AQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAA
			QcXWA8GAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYtNDM2OC05MDJD
			LTlEMTlGMzdBNzhGNRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
			AAAAAAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEAAAAE
			EAAAEAEAAAAAAAAFEAAAkAEAAAAAAAAQEAAAwAEAAAAAAABAEAAA
			sAEAAAAAAAACIAAAlAIAAAAAAAAFIAAABAIAAAAAAAAQIAAAFAIA
			AAAAAAARIAAASAIAAAAAAAASIAAAKAIAAAAAAAATIAAAOAIAAAAA
			AAAgIAAAdAIAAAAAAAAwIAAA4AEAAAAAAAABwAAA6AEAAAAAAAAR
			wAAAIAAAAAAAAAASwAAA+AEAAAAAAAAB0AAA4AEAAAAAAAAQ0AAA
			BAAAAAAAAAA=
			</data>
			<key>name</key>
			<string>[Moon Night Snap] Yeon Woo (연우) - 서울의 밤 (Seoul night) uncensored</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va0QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAANAIAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAkAAAABAQAARG9jdW1lbnRz
			AAAABwAAAAEBAAAuY29uZmlnAFwAAAABAQAAW01vb24gTmlnaHQg
			U25hcF0gWWVvbiBXb28gKOGEi+GFp+GGq+GEi+GFrikgLSDhhInh
			haXhhIvhha7hhq/hhIvhhbQg4YSH4YWh4Ya3IChTZW91bCBuaWdo
			dCkUAAAAAQYAABAAAAAgAAAANAAAAEgAAABYAAAACAAAAAQDAABI
			QgAAAAAAAAgAAAAEAwAA5GMAAAAAAAAIAAAABAMAABVkAAAAAAAA
			CAAAAAQDAADSuDQAAAAAAAgAAAAEAwAAOdU0AAAAAAAUAAAAAQYA
			ANgAAADoAAAA+AAAAAgBAAAYAQAACAAAAAAEAABBxLGXBEFaYhgA
			AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAI
			AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcXWA8GAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
			NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAA
			AAAAABEAAAAEEAAAvAAAAAAAAAAFEAAAKAEAAAAAAAAQEAAAVAEA
			AAAAAABAEAAARAEAAAAAAAACIAAAKAIAAAAAAAAFIAAAmAEAAAAA
			AAAQIAAAqAEAAAAAAAARIAAA3AEAAAAAAAASIAAAvAEAAAAAAAAT
			IAAAzAEAAAAAAAAgIAAACAIAAAAAAAAwIAAAdAEAAAAAAAABwAAA
			fAEAAAAAAAARwAAAIAAAAAAAAAASwAAAjAEAAAAAAAAB0AAAdAEA
			AAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>name</key>
			<string>[Moon Night Snap] Yeon Woo (연우) - 서울의 밤 (Seoul night)</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va5ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAgAEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAkAAAABAQAARG9jdW1lbnRz
			AAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAAEhCAAAAAAAA
			CAAAAAQDAADkYwAAAAAAAAgAAAAEAwAAFWQAAAAAAAAMAAAAAQYA
			AFwAAABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIAAAIA
			AAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAAB
			AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
			AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAkAAAAAQEA
			ADMwMDNCMTc0LTM4NEYtNDM2OC05MDJDLTlEMTlGMzdBNzhGNRgA
			AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
			AAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAASAAAAAAAAAAFEAAA
			jAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAdAEA
			AAAAAAAFIAAA9AAAAAAAAAAQIAAABAEAAAAAAAARIAAAKAEAAAAA
			AAASIAAAGAEAAAAAAAATIAAAoAAAAAAAAAAgIAAAVAEAAAAAAAAw
			IAAA0AAAAAAAAAABwAAA2AAAAAAAAAARwAAAIAAAAAAAAAASwAAA
			6AAAAAAAAAAB0AAA0AAAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>name</key>
			<string>Documents</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9vazADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAARAIAAAQAAAADAwAAAAIAIAYAAAABAQAAU3lzdGVt
			AAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMK
			AAAAAQEAAEZpbmRlci5hcHAAAAgAAAABAQAAQ29udGVudHMJAAAA
			AQEAAFJlc291cmNlcwAAAAsAAAABAQAATXlMaWJyYXJpZXMAGAAA
			AAEBAABteURvY3VtZW50cy5jYW5uZWRTZWFyY2ggAAAAAQYAABAA
			AAAgAAAAMAAAAEQAAABYAAAAaAAAAHwAAACQAAAACAAAAAQDAAAV
			AAAA////DwgAAAAEAwAAWIgAAP///w8IAAAABAMAAAFwAwD///8P
			CAAAAAQDAABFkgMA////DwgAAAAEAwAARpIDAP///w8IAAAABAMA
			ALGTAwD///8PCAAAAAQDAABZlAMA////DwgAAAAEAwAABpUDAP//
			/w8gAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBxdYDwYAAABgAAAABAgAAAgAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
			AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAAJAAAAAEB
			AAAzMDAzQjE3NC0zODRGLTQzNjgtOTAyQy05RDE5RjM3QTc4RjUY
			AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
			LwAAALQAAAD+////AQAAAAAAAAAOAAAABBAAALAAAAAAAAAABRAA
			AFgBAAAAAAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAADgC
			AAAAAAAABSAAALgBAAAAAAAAECAAAMgBAAAAAAAAESAAAOwBAAAA
			AAAAEiAAANwBAAAAAAAAEyAAAIABAAAAAAAAICAAABgCAAAAAAAA
			MCAAALABAAAAAAAAAdAAALABAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>name</key>
			<string>Recents</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va5ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAgAEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAkAAAABAQAARG93bmxvYWRz
			AAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAAEhCAAAAAAAA
			CAAAAAQDAADkYwAAAAAAAAgAAAAEAwAAF2QAAAAAAAAMAAAAAQYA
			AFwAAABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIAAAIA
			AAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAAB
			AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
			AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAkAAAAAQEA
			ADMwMDNCMTc0LTM4NEYtNDM2OC05MDJDLTlEMTlGMzdBNzhGNRgA
			AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
			AAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAASAAAAAAAAAAFEAAA
			jAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAdAEA
			AAAAAAAFIAAA9AAAAAAAAAAQIAAABAEAAAAAAAARIAAAKAEAAAAA
			AAASIAAAGAEAAAAAAAATIAAAoAAAAAAAAAAgIAAAVAEAAAAAAAAw
			IAAA0AAAAAAAAAABwAAA2AAAAAAAAAARwAAAIAAAAAAAAAASwAAA
			6AAAAAAAAAAB0AAA0AAAAAAAAAAQ0AAABAAAAAAAAAA=
			</data>
			<key>name</key>
			<string>Downloads</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9vaxADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAIAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAkAAAABAQAARG9jdW1lbnRz
			AAAABwAAAAEBAAAuY29uZmlnACUAAAABAQAAWWVvbiBXb28gKOGE
			i+GFp+GGq+GEi+GFrikgLSBJbiBUb2t5bwAAABQAAAABBgAAEAAA
			ACAAAAA0AAAASAAAAFgAAAAIAAAABAMAAEhCAAAAAAAACAAAAAQD
			AADkYwAAAAAAAAgAAAAEAwAAFWQAAAAAAAAIAAAABAMAANK4NAAA
			AAAACAAAAAQDAAAizTQAAAAAABQAAAABBgAApAAAALQAAADEAAAA
			1AAAAOQAAAAIAAAAAAQAAEHF9eh4EwSkGAAAAAECAAACAAAAAAAA
			AA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAwAAAAAA
			AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
			YWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBxdYD
			wYAAACQAAAABAQAAMzAwM0IxNzQtMzg0Ri00MzY4LTkwMkMtOUQx
			OUYzN0E3OEY1GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAA
			AAABAAAAAQEAAC8AAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAACI
			AAAAAAAAAAUQAAD0AAAAAAAAABAQAAAgAQAAAAAAAEAQAAAQAQAA
			AAAAAAIgAAD0AQAAAAAAAAUgAABkAQAAAAAAABAgAAB0AQAAAAAA
			ABEgAACoAQAAAAAAABIgAACIAQAAAAAAABMgAACYAQAAAAAAACAg
			AADUAQAAAAAAADAgAABAAQAAAAAAAAHAAABIAQAAAAAAABHAAAAg
			AAAAAAAAABLAAABYAQAAAAAAAAHQAABAAQAAAAAAABDQAAAEAAAA
			AAAAAA==
			</data>
			<key>name</key>
			<string>Yeon Woo (연우) - In Tokyo</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va0gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAOAIAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAkAAAABAQAARG9jdW1lbnRz
			AAAABwAAAAEBAAAuY29uZmlnAF8AAAABAQAAW01vb24gTmlnaHQg
			U25hcF0gRGFtZSAo4YSD4YWh4Ya3KSAtIOGEieGFpuGGqOGEieGF
			teGEkuGFoeGGqyDhhInhhaHhhqvhhJDhhaHhhIDhhaXhhq8gKCtT
			LlZlcikAFAAAAAEGAAAQAAAAIAAAADQAAABIAAAAWAAAAAgAAAAE
			AwAASEIAAAAAAAAIAAAABAMAAORjAAAAAAAACAAAAAQDAAAVZAAA
			AAAAAAgAAAAEAwAA0rg0AAAAAAAIAAAABAMAAFO4NAAAAAAAFAAA
			AAEGAADcAAAA7AAAAPwAAAAMAQAAHAEAAAgAAAAABAAAQcX35J1t
			mygYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAAB
			BQAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
			ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCC
			lucAAAAIAAAAAAQAAEHF1gPBgAAAJAAAAAEBAAAzMDAzQjE3NC0z
			ODRGLTQzNjgtOTAyQy05RDE5RjM3QTc4RjUYAAAAAQIAAIEAAAAB
			AAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANgAAAD+////
			AQAAAAAAAAARAAAABBAAAMAAAAAAAAAABRAAACwBAAAAAAAAEBAA
			AFgBAAAAAAAAQBAAAEgBAAAAAAAAAiAAACwCAAAAAAAABSAAAJwB
			AAAAAAAAECAAAKwBAAAAAAAAESAAAOABAAAAAAAAEiAAAMABAAAA
			AAAAEyAAANABAAAAAAAAICAAAAwCAAAAAAAAMCAAAHgBAAAAAAAA
			AcAAAIABAAAAAAAAEcAAACAAAAAAAAAAEsAAAJABAAAAAAAAAdAA
			AHgBAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>name</key>
			<string>[Moon Night Snap] Dame (담) - 섹시한 산타걸 (+S.Ver)</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va8gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAuAEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAkAAAABAQAARG9jdW1lbnRz
			AAAABwAAAAEBAAAuY29uZmlnABAAAAABBgAAEAAAACAAAAA0AAAA
			SAAAAAgAAAAEAwAASEIAAAAAAAAIAAAABAMAAORjAAAAAAAACAAA
			AAQDAAAVZAAAAAAAAAgAAAAEAwAA0rg0AAAAAAAQAAAAAQYAAHAA
			AACAAAAAkAAAAKAAAAAIAAAAAAQAAEHF+Wy4i6upGAAAAAECAAAC
			AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAA
			AgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
			AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAE
			AABBxdYDwYAAACQAAAABAQAAMzAwM0IxNzQtMzg0Ri00MzY4LTkw
			MkMtOUQxOUYzN0E3OEY1GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
			AAAAAAAAAAABAAAAAQEAAC8AAADYAAAA/v///wEAAAAAAAAAEQAA
			AAQQAABYAAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAAAAAAAEAQ
			AADIAAAAAAAAAAIgAACsAQAAAAAAAAUgAAAcAQAAAAAAABAgAAAs
			AQAAAAAAABEgAABgAQAAAAAAABIgAABAAQAAAAAAABMgAABQAQAA
			AAAAACAgAACMAQAAAAAAADAgAAD4AAAAAAAAAAHAAAAAAQAAAAAA
			ABHAAAAgAAAAAAAAABLAAAAQAQAAAAAAAAHQAAD4AAAAAAAAABDQ
			AAAEAAAAAAAAAA==
			</data>
			<key>name</key>
			<string>.config</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va/wBAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAEAEAAAQAAAADAwAAAAIAIAwAAAABAQAAQXBwbGlj
			YXRpb25zBAAAAAEGAAAQAAAACAAAAAQDAABMQgAAAAAAAAQAAAAB
			BgAAMAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIAAAIAAAAAAAAA
			DwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAEJAABmaWxlOi8v
			LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAACQA
			AAABAQAAMzAwM0IxNzQtMzg0Ri00MzY4LTkwMkMtOUQxOUYzN0E3
			OEY1GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
			AQEAAC8AAAC0AAAA/v///wEAAAAAAAAADgAAAAQQAAAkAAAAAAAA
			AAUQAABAAAAAAAAAABAQAABcAAAAAAAAAEAQAABMAAAAAAAAAAIg
			AAAEAQAAAAAAAAUgAACEAAAAAAAAABAgAACUAAAAAAAAABEgAAC4
			AAAAAAAAABIgAACoAAAAAAAAABMgAABMAAAAAAAAACAgAADkAAAA
			AAAAADAgAAB8AAAAAAAAAAHQAAB8AAAAAAAAABDQAAAEAAAAAAAA
			AA==
			</data>
			<key>name</key>
			<string>Applications</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va4wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAfAEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAJAAAAAQEAAHI0ZjN3b3JrcwAAAAcAAAABAQAARGVza3RvcAAM
			AAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAASEIAAAAAAAAIAAAA
			BAMAAORjAAAAAAAACAAAAAQDAADpYwAAAAAAAAwAAAABBgAAWAAA
			AGgAAAB4AAAACAAAAAAEAABBxdYDwYAAABgAAAABAgAAAgAAAAAA
			AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAA
			AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
			TWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAMzAw
			M0IxNzQtMzg0Ri00MzY4LTkwMkMtOUQxOUYzN0E3OEY1GAAAAAEC
			AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAADY
			AAAA/v///wEAAAAAAAAAEQAAAAQQAABEAAAAAAAAAAUQAACIAAAA
			AAAAABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABwAQAAAAAA
			AAUgAADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAAkAQAAAAAAABIg
			AAAUAQAAAAAAABMgAACcAAAAAAAAACAgAABQAQAAAAAAADAgAADM
			AAAAAAAAAAHAAADUAAAAAAAAABHAAAAgAAAAAAAAABLAAADkAAAA
			AAAAAAHQAADMAAAAAAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>name</key>
			<string>Desktop</string>
		</dict>
	</array>
	<key>FXSidebarUpgradedSharedSearchToTwelve</key>
	<true/>
	<key>FXSidebarUpgradedToTenFourteen</key>
	<true/>
	<key>FXSidebarUpgradedToTenTen</key>
	<true/>
	<key>FXToolbarUpgradedToTenEight</key>
	<integer>1</integer>
	<key>FXToolbarUpgradedToTenNine</key>
	<integer>2</integer>
	<key>FXToolbarUpgradedToTenSeven</key>
	<integer>1</integer>
	<key>FavoriteTagNames</key>
	<array>
		<string></string>
		<string>Red</string>
		<string>Orange</string>
		<string>Yellow</string>
		<string>Green</string>
		<string>Blue</string>
		<string>Purple</string>
		<string>Gray</string>
	</array>
	<key>LastTrashState</key>
	<true/>
	<key>NSToolbar Configuration Browser</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>PackageViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{500, 485}, {920, 436}}</string>
		</dict>
	</dict>
	<key>PreviewPaneGalleryWidth</key>
	<real>250</real>
	<key>PreviewPaneWidth</key>
	<real>250</real>
	<key>RecentMoveAndCopyDestinations</key>
	<array>
		<string>file:///Users/r4f3works/Documents/.config/</string>
		<string>file:///Users/r4f3works/Documents/</string>
		<string>file:///Users/r4f3works/Downloads/</string>
	</array>
	<key>RecentsArrangeGroupViewBy</key>
	<string>Date Last Opened</string>
	<key>SearchRecentsSavedViewStyleVersion</key>
	<string>%00%00%00%01</string>
	<key>SearchRecentsViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{30, 1}, {1890, 1054}}</string>
		</dict>
	</dict>
	<key>ShowExternalHardDrivesOnDesktop</key>
	<true/>
	<key>ShowHardDrivesOnDesktop</key>
	<false/>
	<key>ShowPathbar</key>
	<true/>
	<key>ShowRemovableMediaOnDesktop</key>
	<true/>
	<key>ShowSidebar</key>
	<true/>
	<key>SidebarDevicesSectionDisclosedState</key>
	<true/>
	<key>SidebarPlacesSectionDisclosedState</key>
	<true/>
	<key>SidebarShowingSignedIntoiCloud</key>
	<true/>
	<key>SidebarShowingiCloudDesktop</key>
	<false/>
	<key>SidebarTagsSctionDisclosedState</key>
	<true/>
	<key>SidebarWidth</key>
	<real>148</real>
	<key>SidebariCloudDriveSectionDisclosedState</key>
	<true/>
	<key>SmartSharedSearchViewSettings</key>
	<dict>
		<key>GroupBy</key>
		<string>Shared By</string>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{330, 360}, {920, 464}}</string>
		</dict>
	</dict>
	<key>StandardViewOptions</key>
	<dict>
		<key>ColumnViewOptions</key>
		<dict>
			<key>ArrangeBy</key>
			<string>dnam</string>
			<key>ColumnShowFolderArrow</key>
			<true/>
			<key>ColumnShowIcons</key>
			<true/>
			<key>ColumnWidth</key>
			<integer>245</integer>
			<key>FontSize</key>
			<integer>13</integer>
			<key>PreviewDisclosureState</key>
			<true/>
			<key>SharedArrangeBy</key>
			<string>kipl</string>
			<key>ShowIconThumbnails</key>
			<true/>
			<key>ShowPreview</key>
			<true/>
		</dict>
	</dict>
	<key>StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareOwner</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareLastEditor</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>GalleryViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>iconSize</key>
			<real>48</real>
			<key>showIconPreview</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
	<key>TagsCloudSerialNumber</key>
	<integer>1</integer>
	<key>TrashViewSettings</key>
	<dict>
		<key>CustomViewStyleVersion</key>
		<integer>1</integer>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{359, 331}, {920, 464}}</string>
		</dict>
	</dict>
</dict>
</plist>
