<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>History</key>
	<dict>
		<key>MouseKeys</key>
		<array>
			<dict>
				<key>Date</key>
				<string>2024-04-26 17:13:26</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2024-04-26 17:13:26</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2024-04-27 09:14:35</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2024-04-27 09:14:37</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2024-04-27 09:14:37</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>closeViewHotkeysEnabled</key>
	<false/>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>login</key>
	<false/>
	<key>sessionChange</key>
	<false/>
</dict>
</plist>
