<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>last-analytics-stamp</key>
	<array>
		<real>737269929.31345105</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>736065395.84172499</real>
	<key>loc</key>
	<string>en_US:(null)</string>
	<key>mod-count</key>
	<integer>13</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>left</string>
	<key>persistent-apps</key>
	<array/>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3555620577</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>1</integer>
				<key>book</key>
				<data>
				Ym9va5ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAgAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAJAAAAAQEAAHI0ZjN3b3JrcwAA
				AAkAAAABAQAARG93bmxvYWRzAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAAEhCAAAAAAAACAAAAAQDAADk
				YwAAAAAAAAgAAAAEAwAAF2QAAAAAAAAMAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAA
				CAAAAAQDAAABAAAAAAAAAAQAAAADAwAA9QEAAAgAAAAB
				CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgA
				AAAEAwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4
				NEYtNDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAA
				gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
				AAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAASAAAAAAA
				AAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAA
				AAAAAAACIAAAdAEAAAAAAAAFIAAA9AAAAAAAAAAQIAAA
				BAEAAAAAAAARIAAAKAEAAAAAAAASIAAAGAEAAAAAAAAT
				IAAAoAAAAAAAAAAgIAAAVAEAAAAAAAAwIAAA0AAAAAAA
				AAABwAAA2AAAAAAAAAARwAAAIAAAAAAAAAASwAAA6AAA
				AAAAAAAB0AAA0AAAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/r4f3works/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>61520613787384</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>158672774022690</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>KR</string>
	<key>show-recents</key>
	<false/>
	<key>static-only</key>
	<true/>
	<key>tilesize</key>
	<integer>48</integer>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-bl-corner</key>
	<integer>0</integer>
	<key>wvous-br-corner</key>
	<integer>0</integer>
	<key>wvous-tl-corner</key>
	<integer>0</integer>
	<key>wvous-tr-corner</key>
	<integer>0</integer>
</dict>
</plist>
