<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accountAvailable</key>
	<false/>
	<key>lastKnownApps</key>
	<array/>
	<key>syncEngineMetadata</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGqCwwrMTc5PkBCRFUkbnVsbN8Q
	Dw0ODxAREhMUFRYXGBkaGxwdHB8dISIiJCUmJx0iIl8QG2hhc0luRmxpZ2h0VW50cmFj
	a2VkQ2hhbmdlc18QH25lZWRzVG9TYXZlRGF0YWJhc2VTdWJzY3JpcHRpb25fEBpoYXNQ
	ZW5kaW5nVW50cmFja2VkQ2hhbmdlc18QG2luRmxpZ2h0UmVjb3JkTW9kaWZpY2F0aW9u
	c18QImRpZFBlcmZvcm1Jbml0aWFsVXNlclJlY29yZElERmV0Y2hfEBpzZXJ2ZXJDaGFu
	Z2VUb2tlbnNCeVpvbmVJRF8QHmV4aXN0aW5nRGF0YWJhc2VTdWJzY3JpcHRpb25JRF8Q
	HGxhc3RGZXRjaERhdGFiYXNlQ2hhbmdlc0RhdGVfEBpwZW5kaW5nUmVjb3JkTW9kaWZp
	Y2F0aW9uc1YkY2xhc3NfEBJwZW5kaW5nWm9uZUNoYW5nZXNfEBx6b25lSURzTmVlZGlu
	Z1RvRmV0Y2hDaGFuZ2VzXxAbbmVlZHNUb0ZldGNoRGF0YWJhc2VDaGFuZ2VzXxAcc2Vy
	dmVyQ2hhbmdlVG9rZW5Gb3JEYXRhYmFzZV8QFWxhc3RLbm93blVzZXJSZWNvcmRJRAgJ
	CIAICYACgACAAIAHgAmABoAECYAAgADTLC0WLi8wV05TLmtleXNaTlMub2JqZWN0c6Cg
	gAPSMjM0NVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaI0NlhOU09iamVj
	dNEWOIAF0jIzOjtfEBNOU011dGFibGVPcmRlcmVkU2V0ozw9Nl8QE05TTXV0YWJsZU9y
	ZGVyZWRTZXRcTlNPcmRlcmVkU2V00RY4gAXRFjiABdEWOIAF0jIzRUZfEBFDS1N5bmNF
	bmdpbmVTdGF0ZaJHNl8QEUNLU3luY0VuZ2luZVN0YXRlAAgAEQAaACQAKQAyADcASQBM
	AFEAUwBeAGQAhQCjAMUA4gEAASUBQgFjAYIBnwGmAbsB2gH4AhcCLwIwAjECMgI0AjUC
	NwI5AjsCPQI/AkECQwJEAkYCSAJPAlcCYgJjAmQCZgJrAnYCfwKMAo8CmAKbAp0CogK4
	ArwC0gLfAuIC5ALnAukC7ALuAvMDBwMKAAAAAAAAAgEAAAAAAAAASAAAAAAAAAAAAAAA
	AAAAAx4=
	</data>
	<key>version</key>
	<integer>7</integer>
	<key>writerDone</key>
	<false/>
</dict>
</plist>
