<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iCloudDrive-moved-to-FPFS</key>
	<true/>
	<key>iCloudDrive-on-FPFS</key>
	<true/>
	<key>iCloudDrive-on-FPFS-last-boot-timestamp</key>
	<integer>0</integer>
	<key>iCloudDrive-on-FPFS-last-boot-uuid</key>
	<string>758DE638-2955-4DBA-A194-210B8E19C6DC</string>
</dict>
</plist>
