<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1714176622</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>2f5ae0fa6039ca62842ea427652267b697e4885cf294576e2c3ddcf3091a255f</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwweVSRu
		dWxs2Q0ODxAREhMUFRYXGBkXGxYcHV8QGkFjY291bnRBY2Nlc3NBdXRob3Jp
		emF0aW9uXxATSGFzVmFsaWRDcmVkZW50aWFsc1xXYWxydXNTdGF0dXNWJGNs
		YXNzXxASTmVlZHNUb1ZlcmlmeVRlcm1zXxAkRGV2aWNlVG9EZXZpY2VFbmNy
		eXB0aW9uQXZhaWxhYmlsaXR5XxAQQWNjb3VudFBhcnRpdGlvbl1BY2NvdW50
		U3RhdHVzXxAcQWNjb3VudEluZm9WYWxpZGF0aW9uQ291bnRlchABCBACgAII
		EAAQAxAg0h8gISJaJGNsYXNzbmFtZVgkY2xhc3Nlc11DS0FjY291bnRJbmZv
		oiEjWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBXAF0AcACNAKMA
		sAC3AMwA8wEGARQBMwE1ATYBOAE6ATsBPQE/AUEBRgFRAVoBaAFrAAAAAAAA
		AgEAAAAAAAAAJAAAAAAAAAAAAAAAAAAAAXQ=
		</data>
	</dict>
</dict>
</plist>
