<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_analytics.summary_event.last_flushed</key>
	<date>2024-04-27T00:13:39Z</date>
	<key>com.apple.app-analytics.crash-detection.will-terminate</key>
	<false/>
	<key>wdsAuthToken</key>
	<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJzdWIiOiJBcHBsZSIsImlhdCI6MTcxNDE3NjAwMCwibmJmIjoxNzE0MTc2MDAwLCJpc3MiOiJBcHBsZSIsImV4cCI6MTcxNjg1NDQwMH0.4dFBay8L0HFKZmszEXe5P0x0ZNyaC2bxj5vOf1PiILiFhzK2hmDdWvFYPclwXSufotmDC8f_V-9jqIq_osVC6w</string>
	<key>wdsCacheCleanupState</key>
	<dict>
		<key>com.apple.weather.widget</key>
		<true/>
	</dict>
</dict>
</plist>
