<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABBirthDayVisible</key>
	<true/>
	<key>ABMetaDataChangeCount</key>
	<integer>6</integer>
	<key>ABMetadataLastOilChange</key>
	<date>2024-04-27T00:13:29Z</date>
	<key>ABVersion</key>
	<integer>1419</integer>
</dict>
</plist>
