<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadEvents</key>
	<dict>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<array>
			<dict>
				<key>Assets</key>
				<array>
					<dict>
						<key>AssetID</key>
						<string>9a08425b3749656c5f0931d6e29e235e7e5ce54c</string>
						<key>AssetType</key>
						<string>com.apple.MobileAsset.TTSAXResourceModelAssets</string>
						<key>CompatibilityVersion</key>
						<integer>1</integer>
						<key>ContentVersion</key>
						<integer>11</integer>
						<key>DownloadSize</key>
						<integer>73591402</integer>
						<key>FormatVersion</key>
						<integer>1</integer>
						<key>UnarchivedSize</key>
						<integer>101069824</integer>
						<key>UserInfo</key>
						<dict>
							<key>Build</key>
							<string>10M5214</string>
							<key>Sample</key>
							<true/>
							<key>_CompatibilityVersion</key>
							<integer>1</integer>
							<key>_CompressionAlgorithm</key>
							<string>zip</string>
							<key>_ContentVersion</key>
							<integer>11</integer>
							<key>_DownloadSize</key>
							<integer>73591402</integer>
							<key>_IsZipStreamable</key>
							<true/>
							<key>_MasteredVersion</key>
							<string>5214</string>
							<key>_Measurement</key>
							<data>
							Wh5c0765bVIrvL4/0T5W
							MQfRzPs=
							</data>
							<key>_MeasurementAlgorithm</key>
							<string>SHA-1</string>
							<key>_UnarchivedSize</key>
							<integer>101069824</integer>
							<key>__AssetDefaultGarbageCollectionBehavior</key>
							<string>NeverCollected</string>
							<key>__BaseURL</key>
							<string>https://updates.cdn-apple.com/2023/mobileassets/042-95543/2FB08C55-7100-482D-80FF-56EFBA4371AF/</string>
							<key>__CanUseLocalCacheServer</key>
							<true/>
							<key>__RelativePath</key>
							<string>com_apple_MobileAsset_TTSAXResourceModelAssets/9a08425b3749656c5f0931d6e29e235e7e5ce54c.zip</string>
						</dict>
					</dict>
				</array>
				<key>Date</key>
				<date>2024-04-27T00:14:28Z</date>
			</dict>
		</array>
	</dict>
	<key>InstalledAssets</key>
	<dict>
		<key>com.apple.MobileAsset.MacinTalkVoiceAssets</key>
		<array/>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<array>
			<dict>
				<key>AssetID</key>
				<string>9a08425b3749656c5f0931d6e29e235e7e5ce54c</string>
				<key>AssetType</key>
				<string>com.apple.MobileAsset.TTSAXResourceModelAssets</string>
				<key>CompatibilityVersion</key>
				<integer>1</integer>
				<key>ContentVersion</key>
				<integer>11</integer>
				<key>DownloadSize</key>
				<integer>73591402</integer>
				<key>FormatVersion</key>
				<integer>1</integer>
				<key>UnarchivedSize</key>
				<integer>101069824</integer>
				<key>UserInfo</key>
				<dict>
					<key>Build</key>
					<string>10M5214</string>
					<key>Sample</key>
					<true/>
					<key>_CompatibilityVersion</key>
					<integer>1</integer>
					<key>_CompressionAlgorithm</key>
					<string>zip</string>
					<key>_ContentVersion</key>
					<integer>11</integer>
					<key>_DownloadSize</key>
					<integer>73591402</integer>
					<key>_IsZipStreamable</key>
					<true/>
					<key>_MasteredVersion</key>
					<string>5214</string>
					<key>_Measurement</key>
					<data>
					Wh5c0765bVIrvL4/0T5WMQfRzPs=
					</data>
					<key>_MeasurementAlgorithm</key>
					<string>SHA-1</string>
					<key>_UnarchivedSize</key>
					<integer>101069824</integer>
					<key>__AssetDefaultGarbageCollectionBehavior</key>
					<string>NeverCollected</string>
					<key>__BaseURL</key>
					<string>https://updates.cdn-apple.com/2023/mobileassets/042-95543/2FB08C55-7100-482D-80FF-56EFBA4371AF/</string>
					<key>__CanUseLocalCacheServer</key>
					<true/>
					<key>__RelativePath</key>
					<string>com_apple_MobileAsset_TTSAXResourceModelAssets/9a08425b3749656c5f0931d6e29e235e7e5ce54c.zip</string>
				</dict>
			</dict>
		</array>
		<key>com.apple.MobileAsset.VoiceServices.CombinedVocalizerVoices</key>
		<array/>
	</dict>
	<key>UserInfo</key>
	<dict>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<dict>
			<key>CleanupSiriVoiceSubscriptionsTaskSuccess</key>
			<date>2024-04-27T00:14:29Z</date>
			<key>ComponentChangeTaskSuccessful</key>
			<date>2024-04-27T00:18:55Z</date>
			<key>RefreshSSEVoicesForBundlePrefixTaskSuccessful</key>
			<date>2024-04-27T00:15:21Z</date>
			<key>SystemBootTime</key>
			<date>2024-04-27T00:10:22Z</date>
			<key>UpdateResourcesTaskSuccessful</key>
			<date>2024-04-27T00:18:55Z</date>
			<key>UpdateSiriVoicesTaskSuccessful</key>
			<date>2024-04-27T00:14:27Z</date>
		</dict>
	</dict>
</dict>
</plist>
