<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceIdentifier</key>
	<string>5784ACE4-F45F-4209-BFED-377088E1A738</string>
	<key>HasRunMigration</key>
	<true/>
</dict>
</plist>
