<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.DiagnosticExtensions.extensionTracker</key>
	<dict>
		<key>XPCActivity</key>
		<dict>
			<key>EarliestExpirationDate</key>
			<date>4001-01-01T00:00:00Z</date>
			<key>XPCActivityScheduledDate</key>
			<date>4001-01-01T02:00:00Z</date>
		</dict>
	</dict>
</dict>
</plist>
