<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DidMigrateDownloadFolderToSandbox</key>
	<true/>
	<key>DidMigrateResourcesToSandbox</key>
	<true/>
	<key>Homepage</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJX
	TlMuYmFzZVYkY2xhc3NbTlMucmVsYXRpdmWAAIADgAJfECBodHRwczovL3d3dy5hcHBs
	ZS5jb20vc3RhcnRwYWdlL9IVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNVTlNVUkyiFxlY
	TlNPYmplY3QIERokKTI3SUxRU1heZW10gIKEhqmuucLIywAAAAAAAAEBAAAAAAAAABoA
	AAAAAAAAAAAAAAAAAADU
	</data>
	<key>ShowDevelopMenu</key>
	<false/>
</dict>
</plist>
