<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>last-analytics-stamp</key>
	<array>
		<real>735869681.56703997</real>
	</array>
	<key>loc</key>
	<string>en_US:(null)</string>
	<key>mod-count</key>
	<integer>2</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3198931007</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAaAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAATGF1bmNocGFkLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAVAAAA////DwgAAAAE
				AwAAFwAAAP///w8IAAAABAMAAP0ZAAD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHF1gPBgAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
				AAAABAMAAACQgpbnAAAAJAAAAAEBAAAzMDAzQjE3NC0z
				ODRGLTQzNjgtOTAyQy05RDE5RjM3QTc4RjUYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAATAAAAAAAAAAFEAAAkAAAAAAAAAAQEAAAtAAAAAAA
				AABAEAAApAAAAAAAAAACIAAAVAEAAAAAAAAFIAAA1AAA
				AAAAAAAQIAAA5AAAAAAAAAARIAAACAEAAAAAAAASIAAA
				+AAAAAAAAAATIAAApAAAAAAAAAAgIAAANAEAAAAAAAAw
				IAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.launchpad.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Launchpad.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Launchpad</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931008</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAgAMAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAHAAAAAQEAAFZvbHVtZXMABwAA
				AAEBAABQcmVib290AAkAAAABAQAAQ3J5cHRleGVzAAAA
				AwAAAAEBAABBcHAADAAAAAEBAABBcHBsaWNhdGlvbnMK
				AAAAAQEAAFNhZmFyaS5hcHAAACAAAAABBgAAEAAAACAA
				AAAwAAAAQAAAAFQAAAAQAAAAYAAAAHQAAAAIAAAABAMA
				ABUAAAD///8PCAAAAAQDAAADgQkA////DwgAAAAEAwAA
				AgAAAAAAAAAIAAAABAMAAEEBAAAAAAAACAAAAAQDAABD
				AQAAAAAAAAgAAAAEAwAA5Q8CAAAAAAAIAAAABAMAAOYP
				AgAAAAAACAAAAAQDAADnDwIAAAAAACAAAAABBgAAsAAA
				AMAAAADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAIAAAA
				AAQAAEHF0z10gAAAGAAAAAECAAACAAAAAAAAAA8AAAAA
				AAAAAAAAAAAAAAAfAAAAAQkAAGZpbGU6Ly8vU3lzdGVt
				L1ZvbHVtZXMvUHJlYm9vdC8ACAAAAAQDAAAAkIKW5wAA
				AAgAAAAABAAAQcWfa7qatCskAAAAAQEAADg2RkNDQjRF
				LUE0NzQtNEQyNC04MUJGLTA3MTIxREZCMDhGMRgAAAAB
				AgAAhQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAFwAAAAEB
				AAAvU3lzdGVtL1ZvbHVtZXMvUHJlYm9vdAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				AAQAAEHF1gPBgAAAJAAAAAEBAAAzMDAzQjE3NC0zODRG
				LTQzNjgtOTAyQy05RDE5RjM3QTc4RjUYAAAAAQIAAIEA
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AGAAAAD+////APAAAAAAAAAHAAAAAiAAALwCAAAAAAAA
				BSAAADwCAAAAAAAAECAAAEwCAAAAAAAAESAAAHACAAAA
				AAAAEiAAALABAAAAAAAAEyAAAGACAAAAAAAAICAAAJwC
				AAAAAAAABAAAAAMDAAAA8AAABAAAAAMDAAAAAAAABAAA
				AAMDAAABAAAAJAAAAAEGAAAwAwAAPAMAADwDAABIAwAA
				PAMAADwDAAA8AwAAPAMAADwDAACoAAAA/v///wEAAADI
				AgAADQAAAAQQAACIAAAAAAAAAAUQAAAwAQAAAAAAABAQ
				AABoAQAAAAAAAEAQAABYAQAAAAAAAAAgAABUAwAAAAAA
				AAIgAAAcAgAAAAAAAAUgAACIAQAAAAAAABAgAAAwAAAA
				AAAAABEgAADQAQAAAAAAABIgAACwAQAAAAAAABMgAADA
				AQAAAAAAACAgAAD8AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3793482729</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793482729</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931009</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAnx8AAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931010</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFQAAAP///w8IAAAABAMAABcAAAD/
				//8PCAAAAAQDAAA3GgAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBxdYDwYAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
				kIKW5wAAACQAAAABAQAAMzAwM0IxNzQtMzg0Ri00MzY4
				LTkwMkMtOUQxOUYzN0E3OEY1GAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEQAAAAA
				AAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAA
				ANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931011</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATWFwcy5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFQAAAP///w8IAAAABAMAABcAAAD/
				//8PCAAAAAQDAABjHgAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBxdYDwYAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
				kIKW5wAAACQAAAABAQAAMzAwM0IxNzQtMzg0Ri00MzY4
				LTkwMkMtOUQxOUYzN0E3OEY1GAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEQAAAAA
				AAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAA
				ANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Maps</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Maps.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Maps</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931012</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAAUGhvdG9zLmFwcAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAjDkAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Photos</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Photos.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Photos</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931013</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAARmFjZVRpbWUuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAQxMAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.FaceTime</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/FaceTime.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>FaceTime</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931014</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAA4gsAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931015</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAQ29udGFjdHMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAA/BAAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AddressBook</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Contacts.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Contacts</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931016</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAaAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAAUmVtaW5kZXJzLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAVAAAA////DwgAAAAE
				AwAAFwAAAP///w8IAAAABAMAAGtGAAD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHF1gPBgAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
				AAAABAMAAACQgpbnAAAAJAAAAAEBAAAzMDAzQjE3NC0z
				ODRGLTQzNjgtOTAyQy05RDE5RjM3QTc4RjUYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAATAAAAAAAAAAFEAAAkAAAAAAAAAAQEAAAtAAAAAAA
				AABAEAAApAAAAAAAAAACIAAAVAEAAAAAAAAFIAAA1AAA
				AAAAAAAQIAAA5AAAAAAAAAARIAAACAEAAAAAAAASIAAA
				+AAAAAAAAAATIAAApAAAAAAAAAAgIAAANAEAAAAAAAAw
				IAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.reminders</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Reminders.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Reminders</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931017</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAmTUAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notes</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931018</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAARnJlZWZvcm0uYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAzhcAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.freeform</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Freeform.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Freeform</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931019</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwYAAAABAQAAVFYuYXBwAAAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFQAAAP///w8IAAAABAMAABcAAAD/
				//8PCAAAAAQDAADzXwAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBxdYDwYAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
				kIKW5wAAACQAAAABAQAAMzAwM0IxNzQtMzg0Ri00MzY4
				LTkwMkMtOUQxOUYzN0E3OEY1GAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEQAAAAA
				AAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAA
				ANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.TV</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/TV.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>TV</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931020</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAATXVzaWMuYXBwAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAmSEAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADMwMDNCMTc0LTM4NEYt
				NDM2OC05MDJDLTlEMTlGMzdBNzhGNRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Music</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Music.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Music</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931022</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAaAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAAQXBwIFN0b3JlLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAVAAAA////DwgAAAAE
				AwAAFwAAAP///w8IAAAABAMAABoAAAD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHF1gPBgAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
				AAAABAMAAACQgpbnAAAAJAAAAAEBAAAzMDAzQjE3NC0z
				ODRGLTQzNjgtOTAyQy05RDE5RjM3QTc4RjUYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAATAAAAAAAAAAFEAAAkAAAAAAAAAAQEAAAtAAAAAAA
				AABAEAAApAAAAAAAAAACIAAAVAEAAAAAAAAFIAAA1AAA
				AAAAAAAQIAAA5AAAAAAAAAARIAAACAEAAAAAAAASIAAA
				+AAAAAAAAAATIAAApAAAAAAAAAAgIAAANAEAAAAAAAAw
				IAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AppStore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3198931023</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAADxXgAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxdYDwYAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAMzAwM0Ix
				NzQtMzg0Ri00MzY4LTkwMkMtOUQxOUYzN0E3OEY1GAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Settings.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Settings</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3198931024</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va4QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAgAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAJAAAAAQEAAHI0ZjN3b3JrcwAA
				AAkAAAABAQAARG93bmxvYWRzAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAAEhCAAAAAAAACAAAAAQDAADk
				YwAAAAAAAAgAAAAEAwAAF2QAAAAAAAAMAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcXWA8GAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
				AQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
				Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQ
				gpbnAAAAJAAAAAEBAAAzMDAzQjE3NC0zODRGLTQzNjgt
				OTAyQy05RDE5RjM3QTc4RjUYAAAAAQIAAIEAAAABAAAA
				7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
				BQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAASAAAAAAA
				AAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAA
				AAAAAAACIAAAbAEAAAAAAAAFIAAA7AAAAAAAAAAQIAAA
				/AAAAAAAAAARIAAAIAEAAAAAAAASIAAAEAEAAAAAAAAT
				IAAAoAAAAAAAAAAgIAAATAEAAAAAAAAwIAAAeAEAAAAA
				AAABwAAA0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAA
				AAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/r4f3works/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>267142172898200</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>252315945792491</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3198931025</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAkAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJt
				aW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAI
				AAAABAMAABUAAAD///8PCAAAAAQDAAAXAAAA////DwgA
				AAAEAwAA3m4AAP///w8IAAAABAMAAH2DAAD///8PEAAA
				AAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBxdYD
				wYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
				AAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
				b3NoIEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAMzAw
				M0IxNzQtMzg0Ri00MzY4LTkwMkMtOUQxOUYzN0E3OEY1
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAA
				AAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAA
				ANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAA
				BSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAA
				AAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwB
				AAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>3793846403</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3793846403</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>KR</string>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
</dict>
</plist>
