<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersionStampAsNumber</key>
	<integer>48503808</integer>
	<key>BuildVersionStampAsString</key>
	<string>23E224</string>
	<key>SystemVersionStampAsNumber</key>
	<integer>235143424</integer>
	<key>SystemVersionStampAsString</key>
	<string>14.4.1</string>
</dict>
</plist>
