<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKLastEmailListRequestDateKey</key>
	<date>2024-05-13T12:13:38Z</date>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>en_KR</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleInterfaceStyleSwitchesAutomatically</key>
	<true/>
	<key>AppleLanguages</key>
	<array>
		<string>en-KR</string>
		<string>ko-KR</string>
	</array>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>4000</integer>
	<key>AppleLocale</key>
	<string>en_KR</string>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>NSAutomaticCapitalizationEnabled</key>
	<true/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<true/>
	<key>NSDocumentSaveNewDocumentsToCloud</key>
	<false/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2024-05-13T21:53:39Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>ko</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>ko</string>
	</array>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerInputAnalyticsTime</key>
	<date>2024-05-13T08:36:50Z</date>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ㅈㄱㅈ</string>
			<key>with</key>
			<string>지금 가는 중!</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
	</array>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.setapp.DesktopClient.SetappAgent.FinderSyncExt</key>
			<false/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.setapp.DesktopClient.SetappAgent.FinderSyncExt</key>
			<array>
				<string>file:///Applications/Setapp/</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.keyboard.fnState</key>
	<true/>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
</dict>
</plist>
