*
!*/
!.gitignore

!starship.toml

!aerospace/aerospace.toml
!chezmoi/chezmoi.json
!fish/**/*
!mise/**/*
!karabiner/karabiner.json
!kitty/kitty.conf
!linearmouse/linearmouse.json

!git/config
!git/devall.inc

!zsh/.zprofile
!zsh/.zshrc
