*
!*/
!.gitignore

!starship.toml

!aerospace/aerospace.toml
!chezmoi/chezmoi.json
!karabiner/karabiner.json
!kitty/kitty.conf
!linearmouse/linearmouse.json

!fish/**/*
!mise/**/*
!tealdeer/**/*
!git/**/*
