<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Last Mod Date For /Library/QuickLook</key>
	<integer>1711001603</integer>
	<key>Last Mod Date For /System/Library/QuickLook</key>
	<integer>1711001603</integer>
	<key>Last Mod Date For ~/Library/QuickLook</key>
	<integer>0</integer>
</dict>
</plist>
