<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DidPromptSearchEngineAlert</key>
	<true/>
	<key>SyncedTabsDeviceUUID</key>
	<string>7A8736DF-BA8A-441C-8995-E0C8FD441A12</string>
</dict>
</plist>
