<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TALAppsToRelaunchAtLogin</key>
	<array>
		<dict>
			<key>BackgroundState</key>
			<integer>2</integer>
			<key>BundleID</key>
			<string>com.microsoft.vscode</string>
			<key>Hide</key>
			<false/>
			<key>Path</key>
			<string>/Users/r4f3works/Applications/Visual Studio Code.app</string>
		</dict>
		<dict>
			<key>BackgroundState</key>
			<integer>2</integer>
			<key>BundleID</key>
			<string>net.kovidgoyal.kitty</string>
			<key>Hide</key>
			<false/>
			<key>Path</key>
			<string>/Users/r4f3works/Applications/kitty.app</string>
		</dict>
		<dict>
			<key>BackgroundState</key>
			<integer>2</integer>
			<key>BundleID</key>
			<string>com.brave.browser</string>
			<key>Hide</key>
			<false/>
			<key>Path</key>
			<string>/Users/r4f3works/Applications/Brave Browser.app</string>
		</dict>
		<dict>
			<key>BackgroundState</key>
			<integer>2</integer>
			<key>BundleID</key>
			<string>com.apple.systempreferences</string>
			<key>Hide</key>
			<false/>
			<key>Path</key>
			<string>/System/Applications/System Settings.app</string>
		</dict>
		<dict>
			<key>BackgroundState</key>
			<integer>2</integer>
			<key>BundleID</key>
			<string>com.apple.finder</string>
			<key>Hide</key>
			<false/>
			<key>Path</key>
			<string>/System/Library/CoreServices/Finder.app</string>
		</dict>
		<dict>
			<key>BackgroundState</key>
			<integer>3</integer>
			<key>BundleID</key>
			<string>com.apphousekitchen.aldente-pro</string>
			<key>Hide</key>
			<false/>
			<key>Path</key>
			<string>/Users/r4f3works/Applications/AlDente.app</string>
		</dict>
	</array>
</dict>
</plist>
