<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastCheckForExpiringProfiles</key>
	<date>2024-04-27T00:14:37Z</date>
	<key>Workaround_22455316</key>
	<date>2024-04-27T01:37:23Z</date>
</dict>
</plist>
